.dashboard {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px 0px 60px; 
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color1);
}

.rotating-cogs {
    position:absolute;
    right: 90px;
    box-sizing: border-box;
    color:  grey;
    opacity: 0.1;
    top : 90px;
}

.rotating-cogs > i:first-child {
    font-size: min(50vh, 50vw);
}

.rotating-cogs > i:last-child {
    font-size:min(30vw,30vh);
    position:absolute;
    top:calc(min(50vh, 50vw)*0.6);
    right:calc(min(50vh, 50vw)*0.8);
}

.intro{
    font-size: 6vw;
    font-family: Fantasy, arial, monospace;
    margin:0px;
    color:var(--color2);
    width:fit-content;
}

.intro-about {
    font-family:cursive,arial, monospace;;
    font-size:2vw;
    color:white;
    width:fit-content;
}

.intro-summary-1, .intro-summary-2{
    font-size: 1em;
    font-family: cursive, arial, monospace;
    color: white;
    line-height: 2.5em;
}

.droping-line {
    position: absolute;
    width: 0px;
    top: max(15vh, 40px);
    left: 1.5vw;
    box-sizing: border-box;
    box-shadow: var(--color2) 0px 0px 1px 0.2px;
    animation: drop-line 2s forwards ease-in-out;
}

@keyframes drop-line{
    from { height:0vh;}
    to { height:70vh;}
}











/*********** Animation goes here *************/

@-webkit-keyframes rotating-clockwise /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating-clockwise {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotation-clockwise {
    -webkit-animation: rotating-clockwise 20s linear infinite;
    -moz-animation: rotating-clockwise 20s linear infinite;
    -ms-animation: rotating-clockwise 20s linear infinite;
    -o-animation: rotating-clockwise 20s linear infinite;
    animation: rotating-clockwise 20s linear infinite;
  }

  @-webkit-keyframes rotating-anticlockwise /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes rotating-anticlockwise {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.rotation-anticlockwise {
    -webkit-animation: rotating-anticlockwise 20s linear infinite;
    -moz-animation: rotating-anticlockwise 20s linear infinite;
    -ms-animation: rotating-anticlockwise 20s linear infinite;
    -o-animation: rotating-anticlockwise 20s linear infinite;
    animation: rotating-anticlockwise 20s linear infinite;
  }