.dashboard {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px 0px 15vmin; 
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color1);
}

.rotating-cogs {
    position:absolute;
    right: 90px;
    box-sizing: border-box;
    color:  grey;
    opacity: 0.1;
    top : 90px;
}

.rotating-cogs > i:first-child {
    font-size: min(50vh, 50vw);
}

.rotating-cogs > i:last-child {
    font-size:min(30vw,30vh);
    position:absolute;
    top:calc(min(50vh, 50vw)*0.6);
    right:calc(min(50vh, 50vw)*0.8);
}

.intro{
    font-size: 6vw;
    font-family: Fantasy, arial, monospace;
    margin:0px;
    color:var(--color2);
    width:fit-content;
}

.intro-about {
    font-family:cursive,arial, monospace;;
    font-size:2vw;
    color:white;
    width:fit-content;
}

.intro-summary-1, .intro-summary-2{
    font-size: 1em;
    font-family: cursive, arial, monospace;
    color: white;
    line-height: 2.5em;
}


@keyframes drop-line{
    from { width:0%;}
    to { width:100%;}
}


.drop-container {
    position: absolute;
    top: 50vh;
    background-color:transparent;
    transform: rotate(-90deg);
    width: 70vh;
    color: var(--color2);

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px;
    font-family: arial,sans-serif;
    font-size: 2.5vmin;
}

.drop-container > .line {
    height:0px;
    width: 0px;
    box-shadow: 0px 0px 0.5px 0.3px var(--color2);
    background-color: var(--color2);
    margin: 0px 10px 0px 10px;
    animation: drop-line 2s forwards ease-in-out;
}

.drop-container > .text {
    min-width: fit-content;
}

.experience-container {
    max-width: 100%;
    height: 100vh;
    position:relative;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color1);
}











/*********** Animation goes here *************/

@-webkit-keyframes rotating-clockwise /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating-clockwise {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotation-clockwise {
    -webkit-animation: rotating-clockwise 20s linear infinite;
    -moz-animation: rotating-clockwise 20s linear infinite;
    -ms-animation: rotating-clockwise 20s linear infinite;
    -o-animation: rotating-clockwise 20s linear infinite;
    animation: rotating-clockwise 20s linear infinite;
  }

  @-webkit-keyframes rotating-anticlockwise /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes rotating-anticlockwise {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.rotation-anticlockwise {
    -webkit-animation: rotating-anticlockwise 20s linear infinite;
    -moz-animation: rotating-anticlockwise 20s linear infinite;
    -ms-animation: rotating-anticlockwise 20s linear infinite;
    -o-animation: rotating-anticlockwise 20s linear infinite;
    animation: rotating-anticlockwise 20s linear infinite;
  }