.dashboard {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 40px 0px 15vmin; 
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color1);
}

.rotating-cogs {
    position:absolute;
    right: 90px;
    box-sizing: border-box;
    color:  grey;
    opacity: 0.1;
    top : 90px;
}

.rotating-cogs > i:first-child {
    font-size: min(50vh, 50vw);
}

.rotating-cogs > i:last-child {
    font-size:min(30vw,30vh);
    position:absolute;
    top:calc(min(50vh, 50vw)*0.6);
    right:calc(min(50vh, 50vw)*0.8);
}

.intro{
    font-size: 6vw;
    font-family: Fantasy, arial, monospace;
    margin:0px;
    color:var(--color2);
    width:fit-content;
}

.intro-about {
    font-family:cursive,arial, monospace;;
    font-size:2vw;
    color:white;
    width:fit-content;
}

.intro-summary-1, .intro-summary-2{
    font-size: 1em;
    font-family: cursive, arial, monospace;
    color: white;
    line-height: 2.5em;
}


@keyframes drop-line{
    from { width:0%;}
    to { width:100%;}
}


.drop-container {
    position: absolute;
    top: 50vh;
    background-color:transparent;
    transform: rotate(-90deg);
    width: 70vh;
    color: var(--color2);

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
    margin: 0px;
    font-family: arial,sans-serif;
    font-size: 2.5vmin;
}

.drop-container > .line {
    height:0px;
    width: 0px;
    box-shadow: 0px 0px 0.5px 0.3px var(--color2);
    background-color: var(--color2);
    margin: 0px 10px 0px 10px;
    animation: drop-line 2s forwards ease-in-out;
}

.drop-container > .text {
    min-width: fit-content;
}





.experience-container {
    max-width: 100%;
    height: 100vh;
    position:relative;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--color1);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width:700px;
    min-height:600px;
}

.experience {
    width: 67vw;
    height: 67vh;

    display: flex;
    flex-direction: row;
    box-sizing: border-box;

    min-width:600px;
    min-height:300px;
}

.experience > div:first-child {
    background-color: black;
    width: 3px;
    background-color: rgba(231,76,60,0.2);
    border-radius:2.5px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-sizing: border-box;
}

.experience > div:first-child > span {
    flex-grow: 1;
    border-radius:2.5px;
    transition: all 1s ease-in-out;
}

.experience > div:nth-child(2) {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    box-sizing: border-box; 
}

.experience > div:nth-child(2) > span {
    flex-grow: 1;

    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    font-family: arial, monospace;
    font-size: max(10px, 2.3vmin);
    color: white;   
    box-sizing: border-box;
    max-height: 33.33%;
    padding: 0px 15px 0px 15px;

    cursor: pointer;
    transition: border-right 1s ease-in-out;
}

.experience > div:nth-child(2) > span:hover {
    background-color: rgba(231,76,60,0.1);
}

.experience > div:nth-child(2) > span.selected {
    color: var(--color2);
    border-right: 1px solid rgba(231,76,60,0.3);
    font-weight: bold;
}


.experience > div:last-child {
    flex: 1 1 75%;
    box-sizing: border-box;
    color: white;
    padding: 10px;

    display:flex;
    flex-direction: column;
}

.experience > div:last-child > span.selected {
    height: 100%;
    border-right: 1px solid rgba(231,76,60,0.1);
}

.experience > div:last-child > span {
    flex-grow:1;
    height: 0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    line-height: max(20px, 5vmin);
    padding-right: 10px;
    transition: all 1s ease-in-out; 
    font-size: max(10px, 2.3vmin);
    font-family: arial, monospace;
}




.experience > div:first-child > span.selected {
    background-color: rgb(231,76,60);
}





/*********** Animation goes here *************/

@-webkit-keyframes rotating-clockwise /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating-clockwise {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotation-clockwise {
    -webkit-animation: rotating-clockwise 20s linear infinite;
    -moz-animation: rotating-clockwise 20s linear infinite;
    -ms-animation: rotating-clockwise 20s linear infinite;
    -o-animation: rotating-clockwise 20s linear infinite;
    animation: rotating-clockwise 20s linear infinite;
  }

  @-webkit-keyframes rotating-anticlockwise /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
@keyframes rotating-anticlockwise {
    from {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.rotation-anticlockwise {
    -webkit-animation: rotating-anticlockwise 20s linear infinite;
    -moz-animation: rotating-anticlockwise 20s linear infinite;
    -ms-animation: rotating-anticlockwise 20s linear infinite;
    -o-animation: rotating-anticlockwise 20s linear infinite;
    animation: rotating-anticlockwise 20s linear infinite;
  }