:root {
    --color1: rgba(20, 20, 20);
    --color2: #E74C3C;
    --color3: rgba(50, 50, 50);
}

body {
    margin: 0px;
    padding: 0px;
}

.content-container {
    background-color: var(--color1);
}