:root {
    --color1: rgba(20, 20, 20);
    --color2: #E74C3C;
    --color3: rgba(50, 50, 50);
}

html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 200px;
    min-width: 500px;
}

.content-container {
    background-color: var(--color1);
    box-sizing: border-box;
    overflow: hidden;
}

.dashboard {
    display: none;
}

.card-container {
    display: none;
}

.experience-container {
    display: none;
}

.contact-info {
    display: none;
}


/****************** Mobile devices ***************/
@media (pointer:coarse) and (orientation:portrait) {
    .dashboard {
        display: flex;
    }
    
    .card-container {
        display: flex;
    }
    
    .experience-container {
        display: flex;
    }
    
    .contact-info {
        display: flex;
    }
}