body {
    padding: 0px;
    margin:0px;
}
.experience-container {
    max-width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, rgb(20, 20, 20), black, rgb(20, 20, 20));
    position: relative;
    overflow: hidden;
    min-height: 300px;
}

.experience-container > div:not(.cross-line) {
    flex: 1 1 50%;
    box-sizing: border-box;
}

.experience-container > div.left-top {
    position: absolute;
    top: 0px;
    left: -50vw;
    width: 50vw;
    height: 50vh;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: max(7vmin, 20px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

    box-sizing: border-box;
    padding: 10px;

    transition: left 0.7s linear, opacity 0.1s linear;
}

.experience-container > div.left-top.selected {
    left: 0px;
    opacity: 1;
}

.experience-container > div.right-bottom.selected {
    right: 0px;
    opacity: 1;
}

.experience-container > div.right-bottom {
    position: absolute;
    right: -50vw;
    bottom: 0px;
    width: 50vw;
    height: 50vh;

    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: max(2vmin,10px);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 10px 0px 0px 10px;

    opacity: 0;
    transition: right 0.7s linear, opacity 0.1s linear;
}



.cross-line {
    position: absolute;
    bottom: 1px;
    width: 1px;
    background-color: rgb(30, 30, 30);
    transform-origin: 1px bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    transition: box-shadow 0.2s linear;
    z-index: 1;
}

.cross-line:hover {
    background-color: rgb(50, 50, 50);
}

.cross-line > div {
    width: fit-content;
    white-space: nowrap;
    height: 20px;
    border-radius: 50%;
    color: white;
    font-size: max(1.5vmin, 10px);
    font-family: monospace, Arial, Helvetica, sans-serif;
    transition: color 0.1s linear, font-size 0.1s linear;
    box-sizing: border-box;
    user-select: none;
}

.cross-line > div.selected:before {
    font-family: FontAwesome;
    position: absolute;
    content: "\f054\00a0";
    display: inline-block;
    animation: rotate 1s linear infinite alternate;
}

.cross-line > div.selected {
    font-size: max(2.5vmin, 12px);  
    color: orange;
}

.cross-line > div:not(.selected):hover {
    cursor: pointer;
    font-size: max(2.5vmin, 12px);
    color: orange;
}

@keyframes rotate {
    from{
        transform: translate(-22px);
    }to{
        transform: translate(-12px);
    }
}