body { 
    margin: 0px;
    padding:0px;
}

div.skills-container
{
    width: 100vw;
    height: 100vh;
    min-height: 600px;
    min-height: 300px;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.skills-palatte {
    width: 70vh;
    height: 80vw;
    transform: rotate(-90deg);
    box-shadow: 0px 0px 5px 0.5px white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 0px 10px;
    background-color: rgba(255,255,255,0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    overflow: hidden;
}

div.skills-palatte >  div > div:first-child {
    max-height: max(9vmin, 15px);
    line-height: max(8vh, 12px);
    font-size: max(3vh, 5px);
    background-size: max(8vmin, 12px);
    background-repeat: no-repeat;
    background-position: left center;
    padding: 10px 10px 0px calc(max(9vmin, 15px) + 15px);
    cursor: pointer;
}

/*div.skills-palatte >  div > div:last-child {
    border-bottom: solid 1px white;
    height: 0px;
    overflow: hidden; 
    
}*/

/**div.skills-palatte >  div.selected > div:last-child{
    max-height: calc(100% - max(9vmin, 15px) - 5px);
}*/

div.skills-palatte >  div/*, div.skills-palatte >  div > div:last-child*/{
    transition: all 1s linear;
    border-bottom: solid 1px white;
}

/*div.skills-palatte >  div.selected {
    flex-grow: 1;
}*/

div.skills-palatte >  div > div.text {
    transform: rotate(90deg) translateY(-70vh);
    height: 0px;
    overflow:hidden;
    font-size: max(3vh, 5px);
    transform-origin: left top;
    width: 0px;
    transition: all 1s linear;
    overflow: hidden;
    color: transparent;
}

div.skills-palatte >  div.selected > div.text {
    width: 100% !important;
    height: 70vh;
    animation: appear 0.5s linear 1s 1 forwards;
}

@keyframes appear {
    from{
        color: transparent;
    }to{
        color: white;
    }
}